entrypoint = "start.sh"
modules = ["nodejs-20", "python-3.11"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["sh", "start.sh"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5173
externalPort = 80

[[ports]]
localPort = 5174
externalPort = 3001

[[ports]]
localPort = 5175
externalPort = 3002
